@use "../BASE/variables" as *;
@use "../BASE/mixins" as *;

section{
    margin: auto auto;
    width: 100vw;
    height: 100vh;
}

#formacion{
    text-align: center;
}

#proyectos{
    text-align: center;
}

#sobre-mi{
    padding: 0;
    background-color: $colorFondoSobreMi;
    justify-content: center;

    .sobremi-content{
        max-width: 700px;
        margin: 0 auto;
        text-align: center;

        .foto-perfil-container{
            margin-bottom: 2rem;
            width: 140px;
            height: 140px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            border-radius: 50%;
            border: 4px solid black;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        h2{
            font-weight: 800;
            font-size: 2rem;
            color: $colorH2SobreMi;
            margin-bottom: 1.5rem;
            letter-spacing: -0.03em;
        }

        p{
            font-size: 1.1rem;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.7;
            color: $colorPsobreMi;
            margin: 0 auto;
        }
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
