@use "../BASE/variables" as *;

header{
    background-color: $colorHeaderFondo;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");

    color: $colorHeader;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    height: 100vh;
    position: relative;

    h3{
        text-align: center;
        font-size: 250%;
    }

    h5{
        margin-top: 0;
        color: $colorHeaderH5;
    }

    p{
        text-align: center;
    }

    nav{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        padding: 30px 0;

        a{
            padding: 10px 0;
            letter-spacing: 0.05em;
            text-decoration: none;
            color: $colorHeaderA;
        }

        a:hover{
            transform: translateY(-8px);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            color: $colorHeaderAHover;
        }
    }
}






