@use "../BASE/variables" as *;

.cards-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;

    .card{
        background-color: #ffffff;
        border-radius: 16px;
        overflow: hidden;
        width: 300px;
        box-shadow: 0 10px 25px -5px rgba(0,0,0,0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: 1px solid #e2e8f0;

        img{
            width: 100%;
            height: 180px;
            object-fit: contain;
        }

        .card-content{
            padding: 1.5rem;

            h4{
                margin: 15px;
            }

            p{
                margin: 15px;
                color: #777474;
            }

            h6{
                margin: 0;
            }
        }
    }

    .card:hover{
        transform: translateY(-8px);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    }

    img{
        width: 70%;
        border-radius: 10px 10px 0 0;
        object-fit: contain;
    }
}

.card-title{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 40px auto;

    h4{
        font-size: 20px;
    }
}