@use "../BASE/variables" as *;

@mixin aparecer{

    @keyframes keyFrame-Aparecer{
        from{
            opacity: 0;
            transform: translateY(100px) scale(0.9);
        }
        to{
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }

    .reveal{
        animation: keyFrame-Aparecer linear both;

        animation-timeline: view();

        animation-range: entry 0% cover 30%;

        margin-bottom: 200px;
        height: 300px;
        background: #eee;
    }
}