$colorLetraBtnContacCV: white;
$bgBtnContactCV: #333;
$fuente: 'Plus Jakarta Sans', sans-serif;



//CARTAS
$colorFondoCard: #ffffff;
$colorPCardContenido: #777474;
$colorFondoContenedorEXP: #fff;
$colorFondoIMGempresa: #f4f5f5;


$colorFondoSobreMi: #ffffff;
$colorH2SobreMi: #1e293b;
$colorPsobreMi: #475569;


//FOOTER
$colorLetraFooter: white;
$colorFondoFooter: #1a1a1a;
$colorH4InfContacto: rgb(131, 228,196);
$colorSpan: #e0e0e0;
$colorFormularioInptTextArea: white;
$colorFormFondoInptTextArea: #252525;
$colorFormFocus: rgb(131, 228,196);
$colorFormFondoBtnEnviar: rgb(131, 228,196);
$colorLetraBtnEnviar: #1a1a1a;
$colorFormHover: white;

//HEADER
$colorHeaderFondo: black;
$colorHeader: white;
$colorHeaderH5: rgb(131, 228,196);
$colorHeaderAHover: rgb(131, 228,196);
$colorHeaderA: rgb(223, 218, 218);
